body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700; /* Bold 설정 */
    background-color: #f4f4f4;
    
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px; /* 최대 너비 설정 */
    margin: 50px auto; /* 중앙 정렬 */
    padding: 15px; /* 패딩 유지 */
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    margin-bottom: 15px; /* 아래 여백 */
}

.logo {
    max-width: 40px; /* 로고 최대 너비 */
    margin-right: 15px; /* 로고와 제목 사이의 여백 */
}

.title {
    text-align: center; /* 중앙 정렬 */
    margin: 0; /* 기본 여백 제거 */
}

.error-message {
    color: #A62651; /* 오류 메시지 색상 */
    display: none; /* 기본적으로 숨김 */
    margin-top: 10px; /* 위 여백 추가 */
}

label {
    display: block;
    margin-bottom: 4px; /* 아래 여백 */
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: 100%; /* 너비를 100%로 설정하여 중앙 정렬 */
    padding: 6px; /* 패딩 */
    margin-bottom: 10px; /* 아래 여백 */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* 패딩과 테두리를 포함한 박스 모델 */
}

input.error,
select.error {
    border-color: #A62651; /* 오류 시 테두리 색상 */
}

select {
    max-height: 100px; /* 드롭다운 최대 높이 */
    overflow-y: auto; /* 스크롤 추가 */
}

button {
    width: 100%; /* 버튼 너비 100% */
    padding: 8px; /* 패딩 */
    background-color: #A62651; /* 버튼 배경색 */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #b6001e; /* 호버 시 색상 */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}